// Host SPI / Control — 连续 39..43（BANK1 = 3.3V）
IO_LOC  "sck"    39;
IO_PORT "sck"    IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "mosi"   40;
IO_PORT "mosi"   IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC  "miso"   41;
IO_PORT "miso"   IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC  "rst_n"  42;
IO_PORT "rst_n"  IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "rnw"    43;
IO_PORT "rnw"    IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

// Target SWD — 相邻 44/46
IO_LOC  "swclk"  44;
IO_PORT "swclk"  IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC  "swdio"  46; 
IO_PORT "swdio"  IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "output_enable_n"  10;
IO_PORT "output_enable_n"  IO_TYPE=LVCMOS33 PULL_MODE=UP;
